---
import { getCollection } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import PostCard from "@/components/blog/PostCard.astro";
import { calculateReadingTime } from "@/utils/readingTime";

import { tagUrl } from "@/utils/tag";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = new Set<string>();

  posts.forEach((post) => post.data.tags?.forEach((tag) => tags.add(tag)));

  return [...tags].map((tag) => ({
    params: {
      tag: tagUrl(tag).replace("/tags/", "").replace(/\//g, ""), // extrae solo el slug
    },
    props: { originalTag: tag },
  }));
}

const { originalTag } = Astro.props;

const posts = (await getCollection("posts"))
  .filter(
    (post) =>
      post.data.tags?.some(
        (t) => tagUrl(t).replace("/tags/", "").replace(/\//g, "") === tagUrl(originalTag),
      ) && !post.data.draft,
  )
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BlogLayout title={`Posts etiquetados con "${originalTag}"`}>
  <div class="container mx-auto max-w-6xl px-4">
    <header class="py-16 text-center md:py-20">
      <h1 class="text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl">
        <span data-pagefind-ignore>Etiqueta:</span> <span data-pagefind-body>{originalTag}</span>
      </h1>

      <p class="mt-4 max-w-2xl mx-auto text-lg text-muted-foreground">
        {
          posts.length === 0
            ? `No hay artículos con esta etiqueta.`
            : `Explora ${posts.length} artículos relacionados con "${originalTag}".`
        }
      </p>
    </header>

    {
      posts.length > 0 && (
        <section class="grid grid-cols-1 gap-8 pb-20 md:grid-cols-1 lg:grid-cols-1">
          {posts.map(({ id, data, body }) => (
            <PostCard
              id={id}
              title={data.title}
              description={data.description}
              date={data.date}
              tags={data.tags ?? []}
              readingTime={body ? calculateReadingTime(body) : undefined}
            />
          ))}
        </section>
      )
    }
  </div>
</BlogLayout>
