---
import BaseLayout from "@/layouts/main.astro";
import type { CollectionEntry } from "astro:content";
import { Badge } from "@/components/ui/badge";
import { MoveLeft, MoveRight } from "@lucide/astro";

type Cover =
  | string
  | {
      src: string;
      caption?: string;
    };

type PostLayoutProps = {
  title: string;
  date: string | Date;
  author?: string;
  tags?: string[];
  cover?: Cover;
  prev?: CollectionEntry<"posts"> | null;
  next?: CollectionEntry<"posts"> | null;
};

const { title, date, author, tags, cover, prev, next } = Astro.props as PostLayoutProps;

const formattedDate = date
  ? new Date(date).toLocaleDateString("es-ES", { dateStyle: "long" })
  : "Fecha desconocida";
---

<BaseLayout title={title}>
  <article class="max-w-4xl mx-auto px-4 py-20 sm:py-24">
    {
      cover && (
        <figure class="mb-12 max-h-[400px] overflow-hidden rounded-xl">
          {typeof cover === "string" ? (
            <img
              src={cover}
              alt={`Imagen de portada del post: ${title}`}
              class="w-full object-cover"
            />
          ) : (
            <img
              src={cover.src}
              alt={`Imagen de portada del post: ${title}`}
              class="w-full object-cover"
            />
          )}

          {typeof cover !== "string" && cover.caption && (
            <figcaption class="mt-2 text-center text-sm text-muted-foreground">
              {cover.caption}
            </figcaption>
          )}
        </figure>
      )
    }

    <header
      class="max-w-3xl mx-auto mb-12 pb-6 border-b border-gray-200/50 dark:border-gray-700/50"
    >
      <div
        class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2 text-sm text-muted-foreground mb-4"
      >
        <p class="tabular-nums">
          Publicado el {formattedDate}
        </p>

        {
          author && (
            <p class="font-medium">
              Por <strong>{author}</strong>
            </p>
          )
        }
      </div>

      <h1 class="text-4xl sm:text-5xl font-extrabold tracking-tight leading-tight">
        {title}
      </h1>

      <div class="flex flex-wrap gap-2">
        {(tags ?? []).map((tag) => <Badge variant="secondary">{tag}</Badge>)}
      </div>
    </header>

    <div
      class="max-w-3xl mx-auto prose prose-lg sm:prose-base prose-neutral leading-relaxed dark:prose-invert"
    >
      <slot />
    </div>

    <nav
      class="max-w-3xl mx-auto mt-16 pt-10 border-t border-gray-200/50 dark:border-gray-700/50 flex justify-between gap-4"
    >
      {
        prev ? (
          <a
            href={`/blog/${prev.slug}`}
            class="group block flex-1 rounded-lg border border-border bg-card p-5 transition-all
             hover:shadow-xl hover:border-primary/50 focus-within:ring-2
             focus-within:ring-primary focus-within:ring-offset-2 focus:outline-none max-w-sm"
          >
            <div class="flex flex-col">
              <span class="text-xs text-muted-foreground mb-1">Anterior</span>

              <h3 class="text-lg font-semibold text-foreground transition-colors group-hover:text-primary">
                {prev.data.title}
              </h3>

              <span
                class="mt-4 inline-flex items-center gap-1 text-sm font-medium text-primary
                 transition-all group-hover:gap-2"
              >
                <MoveLeft
                  class="h-4 w-4 transition-transform group-hover:-translate-x-1"
                  stroke-width="2.5"
                />
                Leer anterior
              </span>
            </div>
          </a>
        ) : (
          <div class="flex-1 max-w-sm" />
        )
      }

      {
        next ? (
          <a
            href={`/blog/${next.slug}`}
            class="group block flex-1 rounded-lg border border-border bg-card p-5 transition-all
             hover:shadow-xl hover:border-primary/50 focus-within:ring-2
             focus-within:ring-primary focus-within:ring-offset-2 focus:outline-none text-right max-w-sm"
          >
            <div class="flex flex-col items-end">
              <span class="text-xs text-muted-foreground mb-1">Siguiente</span>

              <h3 class="text-lg font-semibold text-foreground transition-colors group-hover:text-primary">
                {next.data.title}
              </h3>

              <span
                class="mt-4 inline-flex items-center gap-1 text-sm font-medium text-primary
                 transition-all group-hover:gap-2"
              >
                Leer siguiente
                <MoveRight
                  class="h-4 w-4 transition-transform group-hover:translate-x-1"
                  stroke-width="2.5"
                />
              </span>
            </div>
          </a>
        ) : (
          <div class="flex-1 max-w-sm" />
        )
      }
    </nav>
  </article>
</BaseLayout>
